@charset "utf-8";

/* 기존 css 변경 */
.wrap_cont {padding-top: 0;}
.left_box{display: none;}
.wrap_cont .wrap_content{display:block; position: relative;width:100%;margin:0 auto;padding:0px;}
.wrap_cont .wrap_content .right_box{position: relative;width:100%;max-width:1200px; margin:0 auto;padding:40px 0 0 0;}
.navigation{margin-top:0;}
.contents_box {letter-spacing:0px;padding-bottom: 40px;}
.contents_box .cont_title{font-size: 40px;font-weight: 600;}

/* 기존 서브 비쥬얼 변경 */
.subvisual_box {position: relative;width:100%;height:auto;min-height:280px;margin:0 auto 36px auto;padding:0 0 36px 0;line-height:normal;text-align: left;padding-right:0px;background:none; background-size:auto; border-radius:0px;}
.subvisual_box::after { content: ""; display: block; position: absolute; left: 0; bottom: 0px; width: 100vw; height: 1px; background: #707070; z-index: 1; transform: translateX(calc(-50vw + 600px));}
.subvisual_box .title {margin:0 0 35px 0;color:var(--text_default); font-size: 48px;font-style: normal;font-weight: 600;letter-spacing: 0px;line-height: 140%;}
.subvisual_box .txt_01{font-size: 28px;font-weight: 700;color:#25438A;}
.subvisual_box .txt_02{margin:35px 0 0  0;font-size: 18px;font-weight: 500;color:var(--text_default);line-height: 150%;}
.subvisual_box.s_visual01 {background:url(../images/renew/bg_subvisual_01.png) no-repeat right bottom}
.subvisual_box.s_visual02 {background:url(../images/renew/bg_subvisual02.png) center center no-repeat; }
.subvisual_box.s_visual03 {background:url(../images/renew/bg_subvisual03.png) center center no-repeat; }
.subvisual_box.s_visual04 {background:url(../images/renew/bg_subvisual04.png) center center no-repeat; }
.subvisual_box.s_visual05 {background:url(../images/renew/bg_subvisual05.png) center center no-repeat; }

/* 신규 css */
body, html{color:var(--text_default);}
/* #gnb > ul> li:first-child> ul.sub_depth{border-left:1px solid #999b9e;}
#gnb > ul> li:last-child> ul.sub_depth{border-right:1px solid #999b9e} */
.sub_container{position: relative;min-height:400px;}
.sub_container .inner{position: relative;width:1200px;margin:0 auto;}


.divider {width: 100%;height: 1px; margin:0 0 36px 0; background: #A3A3A3;}

/* 건강정보 고속도로 소개 */
.sub_0101 .section{margin:0 0 45px 0;padding:40px 70px;border-radius: 20px;background: #F5F6F8;}

/* sub_0101 section_01 */
.sub_0101 .section_01 .part_01 dl{display: flex;align-items: center;}
.sub_0101 .section_01 .part_01 dl ~ dl{margin-top:12px;}
.sub_0101 .section_01 .part_01 dl dt{display: flex;align-items: center;justify-content: center; flex: 0 0 150px;height:50px;margin:0 20px 0 0;border-radius: 8px;background: #E6E6E6;font-size: 22px;color: #000;font-weight: 600;}
.sub_0101 .section_01 .part_01 dl dd{font-size: 18px;font-weight: 500;line-height: 150%;}

.sub_0101 .section_01 .part_02 {margin:40px 0 0 0;}
.sub_0101 .section_01 .part_02 .panel_group{display: flex;}
.sub_0101 .section_01 .part_02 .panel_group [class^="panel_"]{flex:1 1 33%;}
.sub_0101 .section_01 .part_02 .panel_default .box{padding:30px 24px;background: #fff;border-radius: 0  0 10px 10px;}
.sub_0101 .section_01 .part_02 .panel_default .tit{display: flex;align-items: center;justify-content: center;height:55px;text-align: center;line-height: 140%; border-radius: 10px 10px 0 0;background: #BED8FF;font-size: 20px;font-weight: 600;}
.sub_0101 .section_01 .part_02 .panel_default dl ~ dl{margin-top:30px;}
.sub_0101 .section_01 .part_02 .panel_default dl dt{margin:0 0 8px 0;font-size: 18px;font-weight: 500;}
.sub_0101 .section_01 .part_02 .panel_default dl dd p{position: relative;padding:0 0 0 10px;font-size: 14px;line-height: 140%;}
.sub_0101 .section_01 .part_02 .panel_default dl dd p::before{content:"";display:block;position:absolute;left:0;top:7px;width:2px;height:2px;background:#191F28;border: 2px;}
.sub_0101 .section_01 .part_02 .panel_default{background: #fff;border-radius: 10px;}
.sub_0101 .section_01 .part_02 .panel_default [class^="item_"]{min-height:56px;padding:0 0 0 68px}
.sub_0101 .section_01 .part_02 .panel_default.panel_01 .item_01{background:url(../images/renew/sub_0101_ico_01.png) no-repeat left top}
.sub_0101 .section_01 .part_02 .panel_default.panel_01 .item_02{background:url(../images/renew/sub_0101_ico_02.png) no-repeat left top}
.sub_0101 .section_01 .part_02 .panel_default.panel_01 .item_03{background:url(../images/renew/sub_0101_ico_03.png) no-repeat left top}
.sub_0101 .section_01 .part_02 .panel_default.panel_03 .tit{background: #D6D9FF;}
.sub_0101 .section_01 .part_02 .panel_02{position: relative; padding:0 40px 40px 40px;text-align: center;}
.sub_0101 .section_01 .part_02 .panel_02 .tit{margin:0 0 20px 0;font-size: 26px;font-weight: 700;text-align: center;}
.sub_0101 .section_01 .part_02 .panel_02::before{content:"";display:block;position:absolute;left:10px;top:50%;margin-top:-10px;width:26px;height:19px;background:url(../images/renew/sub_0101_symbol_01.png) no-repeat center center}
.sub_0101 .section_01 .part_02 .panel_02::after{content:"";display:block;position:absolute;right:10px;top:50%;margin-top:-10px;width:26px;height:19px;background:url(../images/renew/sub_0101_symbol_01.png) no-repeat center center}
.sub_0101 .section_01 .part_02 .panel_02 .symbol{display:block;position:absolute;left:50%;bottom:0%;margin-left:-13px;width:26px;height:19px;background:url(../images/renew/sub_0101_symbol_01.png) no-repeat center center;transform: rotate(270deg);}

.sub_0101 .section_01 .part_03 {display: flex;align-items: center;justify-content: center;margin:20px 0 0 0;}
.sub_0101 .section_01 .part_03 .tit{display: flex;align-items: center;justify-content: center; width:110px;height:110px;margin:0 40px 0 0;font-size: 18px;font-weight: 800;background:#fff;border:3px solid #BEBEBE;border-radius: 100px; }
.sub_0101 .section_01 .part_03 ul {display: flex;align-items: center;}
.sub_0101 .section_01 .part_03 ul li{display: flex;align-items: center;justify-content:center; flex:0 0 110px;width:110px;height:120px;margin:0 0 0 -15px;padding:0 10px;font-size: 14px;font-weight: 700;text-align: center;}
.sub_0101 .section_01 .part_03 ul li span{display: block;position:relative;word-break: keep-all;z-index:2}
.sub_0101 .section_01 .part_03 ul li:nth-child(odd) {background:url(../images/renew/sub_0101_symbol_02.png) no-repeat left top}
.sub_0101 .section_01 .part_03 ul li:nth-child(even) {background:url(../images/renew/sub_0101_symbol_03.png) no-repeat left bottom}

.sub_0101 .summary{font-size: 18px;font-weight: 500;line-height: 150%;}

/* sub_0101 section_02 */
.sub_0101 .section_02 .part_02 {display: flex; margin:40px 0 0 0;}
.sub_0101 .section_02 .part_02 .tit{display: flex;align-items: center;justify-content: center;flex:0 0 100%;height:50px;margin:0 0 10px 0; border-radius: 10px;background: #BED8FF;font-size: 18px;font-weight: 600;}

.sub_0101 .section_02 .part_02 .panel_group_01{display: flex;flex-wrap: wrap;flex:0 0 370px;position: relative; margin:0 40px 0 0;}
.sub_0101 .section_02 .part_02 .panel_group_01::before{content:"";display:block;position:absolute;right:-35px;top:50%;margin-top:-10px;width:26px;height:19px;background:url(../images/renew/sub_0101_symbol_01.png) no-repeat center center}
.sub_0101 .section_02 .part_02 .panel_01 {display: flex; flex:0 0 calc(300px - 40px);padding: 0 40px 0 0;background:url(../images/renew/sub_0101_symbol_05.png) no-repeat right 0 center;}
.sub_0101 .section_02 .part_02 .panel_01 .box{display: flex;flex-wrap: wrap;align-items: center; padding:20px 15px;background: #fff;border-radius: 0  0 10px 10px;}
.sub_0101 .section_02 .part_02 .panel_01 dl ~ dl{margin-top:20px;}
.sub_0101 .section_02 .part_02 .panel_01 dl dt{margin:0 0 8px 0;font-size: 18px;font-weight: 500;}
.sub_0101 .section_02 .part_02 .panel_01 dl dd p{position: relative;font-size: 14px;line-height: 140%;}
.sub_0101 .section_02 .part_02 .panel_01 [class^="item_"]{min-height:56px;padding:0 0 0 68px}
.sub_0101 .section_02 .part_02 .panel_01 .item_01{background:url(../images/renew/sub_0101_ico_04.png) no-repeat left top}
.sub_0101 .section_02 .part_02 .panel_01 .item_02{background:url(../images/renew/sub_0101_ico_05.png) no-repeat left top}
.sub_0101 .section_02 .part_02 .panel_01 .item_03{background:url(../images/renew/sub_0101_ico_06.png) no-repeat left top}

.sub_0101 .section_02 .part_02 .panel_02{margin-left: auto;display: flex; flex-direction: column;justify-content: center;}
.sub_0101 .section_02 .part_02 .panel_02 .item{position: relative; width:105px;margin:0 0 50px 0;padding:10px;border-radius: 12px;border: 1px solid #25438A;background: #FFF;line-height:140%;font-size: 15px;font-weight: 600;text-align: center;color:#3370D9;}
.sub_0101 .section_02 .part_02 .panel_02 .item::after{content:"";display:block;position:absolute;left:50%;bottom:-34px;width:15px;height:15px;margin-left:-7px;background:url(../images/renew/sub_0101_symbol_04.png) no-repeat center center}
.sub_0101 .section_02 .part_02 .panel_02 .item:last-child{margin:0;}
.sub_0101 .section_02 .part_02 .panel_02 .item:last-child::after{content:normal}

.sub_0101 .section_02 .part_02 .panel_group_02{display: flex;flex-wrap: wrap; position: relative; margin:0 40px 0 0;}
.sub_0101 .section_02 .part_02 .panel_group_02::before{content:"";display:block;position:absolute;right:-35px;top:50%;margin-top:-10px;width:26px;height:19px;background:url(../images/renew/sub_0101_symbol_01.png) no-repeat center center}
.sub_0101 .section_02 .part_02 .panel_03{flex:1 1 calc(50% - 24px);position: relative;margin: 0 24px 0 0;}
.sub_0101 .section_02 .part_02 .panel_03::before{content:"";display:block;position:absolute;right:-27px;top:50%;margin-top:-10px;width:26px;height:19px;background:url(../images/renew/sub_0101_symbol_01.png) no-repeat center center}
.sub_0101 .section_02 .part_02 .panel_03 .tit{background: #D6D9FF;}
.sub_0101 .section_02 .part_02 .panel_03 ul{display: flex;flex-direction: column; align-items: center;justify-content: center; height:170px;border-radius: 12px;border: 1px solid #4E64F8;background: #FFF;}
.sub_0101 .section_02 .part_02 .panel_03 ul li{text-align: center;font-size: 16px;font-weight: 500;line-height:140%;}

.sub_0101 .section_02 .part_02 .panel_04{display: flex;flex-wrap: wrap;flex:1 1 calc(50% - 24px);justify-content: center;height:230px;margin: 0 0 0 24px;margin-left:auto;padding:20px;border-radius: 12px;background: #3370D9;color:#fff;}
.sub_0101 .section_02 .part_02 .panel_04 .tit_02{margin:0 0 20px 0;color: #FFF;text-align: center;font-size: 24px;font-weight: 600;line-height:120%;}
.sub_0101 .section_02 .part_02 .panel_04 table{table-layout: fixed;width:100%;}
.sub_0101 .section_02 .part_02 .panel_04 table thead th{padding:7px;text-align: center; font-size: 14px;font-weight: 700;border:1px solid #fff;white-space:initial;}
.sub_0101 .section_02 .part_02 .panel_04 table tbody th{padding:7px;text-align: center;font-size: 15px;font-weight: 700;border:1px solid #fff;white-space:initial;}
.sub_0101 .section_02 .part_02 .panel_04 table tbody td{padding:7px;text-align: center;font-size: 16px;font-weight: 700;border:1px solid #fff;white-space:initial;}
.sub_0101 .section_02 .part_02 .panel_04 table td:first-child,
.sub_0101 .section_02 .part_02 .panel_04 table th:first-child {border-left: none;}
.sub_0101 .section_02 .part_02 .panel_04 table td:last-child,
.sub_0101 .section_02 .part_02 .panel_04 table th:last-child {border-right: none;}

.sub_0101 .section_02 .part_02 .panel_05{flex: 0 0 100%;margin-top:auto;}
.sub_0101 .section_02 .part_02 .panel_05 .tit{background: #D6D9FF;}
.sub_0101 .section_02 .part_02 .panel_05 ul{display: flex;margin: 0 -7px;}
.sub_0101 .section_02 .part_02 .panel_05 ul li{display: flex;flex:1 1 auto;justify-content: center; margin: 0 7px;  padding:20px 10px;text-align: center;word-break: keep-all;font-size: 16px;font-weight: 500;border-radius: 12px;border: 1px solid #4E64F8;background: #FFF;}

.sub_0101 .section_02 .part_02 .panel_group_03{display:flex;align-items: center;justify-content: center; padding:0 22px;border-radius: 12px;background:#25438A;}
.sub_0101 .section_02 .part_02 .panel_06 .txt_01{position: relative;text-align: center;font-size: 28px;color: #FFF;font-weight: 600;}
.sub_0101 .section_02 .part_02 .panel_06 .txt_01 span{display: inline-block;margin-top:20px;}
.sub_0101 .section_02 .part_02 .panel_06 .txt_01::before{content:"";display:block;width:38px;height:38px;margin:0 0 5px 0;background:url(../images/renew/sub_0101_ico_07.png) no-repeat center center}

/* sub_0101 section_03 */
.sub_0101 .section_03 .part_02 {display: flex;margin:40px 0 0 0;}
.sub_0101 .section_03 .part_02 .panel_01 {border-radius: 10px;border: 1px solid #BED8FF;background: #FFF;}
.sub_0101 .section_03 .part_02 .panel_01 .tit{display: flex;align-items: center;justify-content: center;height:80px;text-align: center;line-height: 140%; border-radius: 10px 10px 0 0;background: #BED8FF;font-size: 20px;font-weight: 600;}
.sub_0101 .section_03 .part_02 .panel_01 .item_list{padding:48px 28px;}
.sub_0101 .section_03 .part_02 .panel_01 .item_list li{min-height:56px;padding:70px 0 0 0px;font-size: 18px;font-weight: 500;text-align: center;}
.sub_0101 .section_03 .part_02 .panel_01 .item_list li ~ li{margin-top:38px;}
.sub_0101 .section_03 .part_02 .panel_01 .item_list .item_01{background:url(../images/renew/sub_0101_ico_04.png) no-repeat center top}
.sub_0101 .section_03 .part_02 .panel_01 .item_list .item_02{background:url(../images/renew/sub_0101_ico_05.png) no-repeat center top}
.sub_0101 .section_03 .part_02 .panel_01 .item_list .item_03{background:url(../images/renew/sub_0101_ico_06.png) no-repeat center top}

.sub_0101 .section_03 .part_02 .panel_02 dl dt{font-size: 16px;font-weight: 600;}


@media (max-width: 1200px) {

	

}

@media (max-width: 767px) {

	

}

@media (max-width: 460px) {

	

}
