@charset "utf-8";
@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 900;
	src: local('Pretendard GOV Black'), url(./font/PretendardGOV-Black.woff2) format('woff2'), url(./font/PretendardGOV-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 800;
	src: local('Pretendard GOV ExtraBold'), url(./font/PretendardGOV-ExtraBold.woff2) format('woff2'), url(./font/PretendardGOV-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 700;
	src: local('Pretendard GOV Bold'), url(./font/PretendardGOV-Bold.woff2) format('woff2'), url(./font/PretendardGOV-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 600;
	src: local('Pretendard GOV SemiBold'), url(./font/PretendardGOV-SemiBold.woff2) format('woff2'), url(./font/PretendardGOV-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 500;
	src: local('Pretendard GOV Medium'), url(./font/PretendardGOV-Medium.woff2) format('woff2'), url(./font/PretendardGOV-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 400;
	src: local('Pretendard GOV Regular'), url(./font/PretendardGOV-Regular.woff2) format('woff2'), url(./font/PretendardGOV-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 300;
	src: local('Pretendard GOV Light'), url(./font/PretendardGOV-Light.woff2) format('woff2'), url(./font/PretendardGOV-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 200;
	src: local('Pretendard GOV ExtraLight'), url(./font/PretendardGOV-ExtraLight.woff2) format('woff2'), url(./font/PretendardGOV-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 100;
	src: local('Pretendard GOV Thin'), url(./font/PretendardGOV-Thin.woff2) format('woff2'), url(./font/PretendardGOV-Thin.woff) format('woff');
}


input:focus,
textarea:focus,
select:focus,
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
summary:focus,
[tabindex]:focus {
    outline: 2px dashed #0768D7;
   
}
.slick-slide .item:focus {
    outline: 2px solid #0768D7;
    outline-offset: 4px;
}

body{font-family: "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;font-weight:400;}
body{min-width: 320px;overflow: hidden; overflow-y: scroll;}
   
:root{
    --text_default:#191F28;
}

/* header */
header{z-index: 3;}
#header{position: relative;left: auto;top: auto;width: auto;padding: 0;box-shadow: none;background: #F5F8FF;border-bottom: 1px solid #999b9e;}
#header::before{content:"";display:block;position:absolute;left:0;top:0px;width:100%;height:76px;background:#fff;}
#header .inner{position:relative;width:100%;max-width: 1200px;margin:0 auto;}

.btn_mobile{display:none;}
#header .top_nav{display: flex;align-items: center; position: relative;height:76px;}
#header .top_nav .utility{margin-left:auto;display: flex;}
#header .top_nav .utilmenu{display: flex;align-items: center;}
#header .top_nav .utilmenu li ~ li {margin-left:60px;}
#header .top_nav .utilmenu li,
#header .top_nav .utilmenu li a{font-size: 16px;font-weight: 500;}
#header .top_nav .utilmenu .name{color:#0768D7}

#gnb{position: relative;height:65px;}
#gnb > ul{display:flex;align-items:center;height: 100%;}
#gnb > ul > li{flex: 1;position: relative;text-align: center;height:100%;}
#gnb > ul > li.active a.gnb_depth{color:#329CFF;font-weight:700;}
#gnb > ul > li:hover > a{position:relative;background: #C7D8FF;}
#gnb > ul > li:hover > a.gnb_depth{color:#329CFF;font-weight:700;}
#gnb ul li .gnb_depth{display: flex;align-items: center;justify-content: center; position:relative;height:100%;padding:0px 10px;font-size: 22px;font-weight:600;color:var(--text_default);transition:color 0.3s ease, font-weight 0.3s ease;}
#gnb ul.sub_depth{display: none;position: absolute;left: 0; top:65px;width: 100%;height: 424px;z-index: 3;background: #fff;border-top: 1px solid #999b9e;box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.10);}
#gnb ul.sub_depth::before{content:"";display:block;position:absolute;right:0;top:0px;width:1px;height:calc(100% - 0px);background:#989898;}
#gnb li:last-child ul.sub_depth::before{content: none;}
#gnb ul.sub_depth > li > a{display: block;padding:11px 20px;font-size: 18px;font-weight: 500;line-height:140%;color:var(--text_default);transition:color 0.3s ease, background-color 0.3s ease;}
#gnb ul.sub_depth > li > a:hover{background: #E0ECFF;}

/* footer */
#footer{position: relative;width:100%;background-color: #fff;border-top:1px solid #b0b0b0;}
#footer .inner{position:relative;width:100%;max-width: 1200px;margin:0 auto;}

#footer .section_01{display: flex;width:100%;padding:10px 10px;}
#footer .section_01 .inner{display: flex;}
#footer .section_01 .part_01{display: flex;align-items: center;}
#footer .section_01 .part_02{display: flex;align-items: center; margin-left: auto;}
#footer .section_02{padding:15px 10px;background: #F0F0F0;}
#footer .section_02 .inner{display: flex;flex-direction: row-reverse;}
#footer .section_02 .part_01{display: block; margin-left: auto;text-align: center;}
#footer .section_02 .part_02{margin:0 0 0 50px;}

#footer .tailMenu ul{display:flex;align-items: center;}
#footer .tailMenu ul li{position:relative;padding:0 20px;}
#footer .tailMenu ul li:before{content: ''; display:block;position:absolute;left:0px; top:50%;width:1px;height:20px;margin-top:-10px;background:#707070;}
#footer .tailMenu ul li:first-child{padding-left:0;}
#footer .tailMenu ul li:first-child:before{content:normal;}
#footer .tailMenu ul li a{font-size: 18px;font-weight: 700;color:#4D4D4D;}
 
#footer .wamark {width:88px;height:62px;background: url(../images/renew/wa_logo.png) center center no-repeat;font-size:0;background-size:auto 62px;}
#footer .wamark a{display:block;width:100%;height:100%;}

#footer .sns{margin:0 0 0 20px;}
#footer .sns ul{display: flex;}
#footer .sns ul li{margin:0 5px;}
#footer .sns ul li a{display: block;width:43px;height:43px;font-size:0;}
#footer .sns ul li .youtube{background:url(../images/renew/icon_sns_y.png) center center no-repeat;}
#footer .sns ul li .blog{background:url(../images/renew/icon_sns_b.png) center center no-repeat;}
#footer .sns ul li .instagram{background:url(../images/renew/icon_sns_instagram.png) center center no-repeat;}

#footer .wrap_select {display: flex; border-radius: 10px; overflow: hidden;margin:0 0 0 30px;}
#footer .f_select {width:215px;height:56px; background:#fff url(../images/renew/fselect_arr.png) no-repeat;background-position : right 15px center; color:#000; font-size: 18px; font-weight: 500; text-indent: 15px;border-radius: 10px 0 0 10px;border: 2px solid #8D8B8B; border-right:none;
    -webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
    appearance:none /* 화살표 없애기 */
}
#footer .btn_select {background-color:#fff;height:56px;margin-left:-3px;border:2px solid #8D8B8B ;color:#000; font-size: 18px; font-weight: 500;border-radius:  0 10px 10px 0;}

#footer .addr,
#footer .copyright{font-size: 16px;font-weight: 500;color:var(--text_default);text-align: left;}
#footer .addr dl{margin:0 0 20px 0;}
#footer .addr dl dt{margin:0 0 5px 0;}
#footer .addr dl dd{line-height: 140%;}

#footer .info{display: inline-block;padding:15px 15px 15px 180px;text-align: center; background:#F4F4F4 url(../images/renew/footer_help_call.png) no-repeat left 15px top 15px;border-radius: 24px;border: 1px solid #C3C3C3;}
#footer .info .txt_01{color:var(--text_default);font-size: 16px;font-weight: 500;text-align: center;word-break: keep-all;}
#footer .info .txt_02{display:inline-block; margin:5px auto;color: #FFF;font-size: 16px;font-weight: 500;word-break: keep-all;text-align: center;padding:8px 12px;border-radius: 24px;background: #5F8BCE;}
#footer .info .txt_03{color:var(--text_default);font-size: 36px;font-weight: 500;text-align: center;}

body.no_scroll {overflow: hidden;}
.bgDim { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: .7; z-index: 8; }
.sidememu_wrap  .btn_close{position:absolute;right:10px;top:10px;width:40px;height:40px; background: url(../images/renew/ico_xmark.png) no-repeat center center;}
.sideMemuArea {display: none; position: fixed; top: 0; right: -100%; width:100%; max-width: 400px;min-width: 300px; height: 100%; min-height: 100%; background-color: #fff; z-index: 9; overflow-y: auto; -webkit-overflow-scrolling: touch; box-sizing: border-box; }
.sideMemuArea { scrollbar-width: thin; scrollbar-color: rgba(0,0,0,0.4) #f0f0f0; }  
.sideMemuArea::-webkit-scrollbar { width: 8px; }  
.sideMemuArea::-webkit-scrollbar-thumb { background-color: rgba(0,0,0,0.4); border-radius: 4px; }  
.sideMemuArea::-webkit-scrollbar-track { background-color: #f0f0f0; border-radius: 4px; }  

.sidememu_wrap{height:100%;}
.sidememu_wrap .sidememu_top{margin:60px 0 0 0;}
.sidememu_wrap .mo_utility{display: block;margin:0 0 10px 0;border-top:1px solid #eee;border-bottom:1px solid #eee;}
.sidememu_wrap .mo_utility .utilmenu{display: flex;}
.sidememu_wrap .mo_utility .utilmenu li{flex: 1;position:relative; text-align: center;margin:0 1px;}
.sidememu_wrap .mo_utility .utilmenu li::before{ content: ''; position: absolute; right: 0px; top: 0px; width: 1px; height: 100%; background:#eee;}
.sidememu_wrap .mo_utility .utilmenu li:last-child::before{content: normal;}
.sidememu_wrap .mo_utility .utilmenu li a{display: block;padding:10px 5px;font-size: 14px;font-weight: 500; }
.sidememu_wrap .mo_utility .name span{display: inline-block;padding:0 5px 0 0;color:#0768D7}

.sidememu_wrap .mo_gnb {background-color: #fff;}
.sidememu_wrap .mo_gnb .gnb_depth {position: relative; display:block; padding:10px 10px 10px 50px; font-size:20px; font-weight:600; border-bottom:1px solid #cdd1d5; }
.sidememu_wrap .mo_gnb .gnb_depth::after { content: ''; position: absolute; left: 15px; top: 9px; width: 24px; height: 24px;}
.sidememu_wrap .mo_gnb .gnb_depth_01::after {background: url(../images/renew/mo_gnb_ico_01.png) no-repeat center center;}
.sidememu_wrap .mo_gnb .gnb_depth_02::after {background: url(../images/renew/mo_gnb_ico_02.png) no-repeat center center;}
.sidememu_wrap .mo_gnb .gnb_depth_03::after {background: url(../images/renew/mo_gnb_ico_03.png) no-repeat center center;}
.sidememu_wrap .mo_gnb .gnb_depth_04::after {background: url(../images/renew/mo_gnb_ico_04.png) no-repeat center center;}
.sidememu_wrap .mo_gnb .gnb_depth_05::after {background: url(../images/renew/mo_gnb_ico_05.png) no-repeat center center;}

.sidememu_wrap .mo_gnb .sub_depth { display:flex  !important; flex-wrap:wrap; background:#fff; padding:10px 15px !important; height: auto !important;}
.sidememu_wrap .mo_gnb .sub_depth > li {position:relative;  width:50%; margin:5px 0;}
.sidememu_wrap .mo_gnb .sub_depth > li > a { display:block; padding:10px; height:auto; line-height:normal; color:var(--text_default); font-size:18px;font-weight:500;line-height: 140%; word-break:keep-all; position:relative; }
.sidememu_wrap .mo_gnb .sub_depth > li > a::before { content:""; display:block; position:absolute; left:0; top:20px; width:3px; height:3px; background:#0B9CC9; }
.sidememu_wrap .mo_gnb .sub_depth > li > a.hasDepth::after { content: ''; position: absolute; right: 15px; top: 12px; width: 16px; height: 16px; background: url(../images/renew/ico_sub_depth.png) no-repeat center center;}
.sidememu_wrap .mo_gnb .sub_depth > li > a.hasDepth.on::after { transform: rotate(180deg); }
.sidememu_wrap .mo_gnb .sub_depth .depth_list{display: none;}
.sidememu_wrap .mo_gnb .sub_depth .depth_list a{position:relative; display:block; padding:10px 10px 10px 20px; font-size: 16px;font-weight: 500;line-height:140%;word-break: keep-all;}
.sidememu_wrap .mo_gnb .sub_depth .depth_list a::before { content:""; display:block; position:absolute; left:5px; top:20px; width:5px; height:1px; background:#676767; }

@media (max-width: 1350px) {

	#footer .section_01 .inner{display: block;}
	#footer .section_01 .part_01{margin:0 0 20px 0;justify-content: center;}
	#footer .section_01 .part_02{justify-content: center;}
	#footer .section_02 .part_02{margin:0;}

}

@media (max-width: 1200px) {

	.btn_mobile{display: block;width:28px;height:28px;margin:0 0 0 20px;background: url(../images/renew/icon_navi_h.png) center center no-repeat;background-size: 100%;}
	
	#header .inner{padding:0 10px;}
	#header .top_nav .utilmenu{display: none;}
	#gnb{display: none;}

	#footer .section_01{padding:12px 24px;}
	#footer .section_02{background: #fff;padding:12px 24px;}
	#footer .section_02 .inner{display: block;}
	#footer .section_02 .part_01{justify-content: center;margin:0 0 20px 0;}
	
	#footer .tailMenu ul li{padding:0 10px;}
	#footer .tailMenu ul li a{font-size: 13px;}
	#footer .tailMenu ul li img{height:25px;}

	#footer .sns{margin:0}
	#footer .sns ul li a{width:35px;height:35px;}
	#footer .sns ul li .youtube{background-size: 35px auto;}
	#footer .sns ul li .blog{background-size: 35px auto;}
	#footer .sns ul li .instagram{background-size: 35px auto;}

	#footer .wamark {width:65px;height:35px;background-size:auto 35px;}

	#footer .wrap_select{margin:0;}
	#footer .f_select{width:160px;height:35px;border-width: 1px;font-size:13px;background-size: auto 8px;}
	#footer .btn_select{height:35px;padding:0 5px;border-width: 1px;font-size:13px;}

	#footer .info{padding:15px 15px 15px 150px}
	#footer .info .txt_01{font-size:12px;}
	#footer .info .txt_02{font-size:12px;}
	#footer .info .txt_03{font-size:28px;}

	#footer .addr, #footer .copyright{text-align: center;font-size:12px;}

}

@media (max-width: 460px) {

	.sidememu_wrap .mo_gnb .gnb_depth{font-size: 18px;}
	.sidememu_wrap .mo_gnb .sub_depth > li > a{font-size: 16px;}
	.sidememu_wrap .mo_gnb .sub_depth .depth_list a{font-size: 14px;}

	#footer .section_01{padding:12px 12px;}
	#footer .section_01 .part_02{flex-wrap: wrap;}
	#footer .section_02{padding:0px 12px 12px 12px;}
	#footer .section_02 .part_01{margin:0 0 12px 0;}

	#footer .tailMenu ul li img{height:18px;}
	#footer .tailMenu ul li a{font-size:11px;}
	
	#footer .wrap_select {width:100%;margin:10px 0 0 0;}
	#footer .f_select{width: 100%;}
    
	#footer .info{width:100%;padding: 115px 15px 15px 15px;background-position: top 15px center;}
	
}
